body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 30px;
  text-align: center;
  color: #222;
  height: 100vh;
  overflow: hidden;
}

h1 {
  margin-bottom: 25px;
  font-weight: 700;
  color: #2c3e50;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.app {
  max-width: 1100px;
  margin: 0 auto;
  max-height: 725px;
}

.add-task {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.add-task input {
  padding: 12px 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.add-task button {
  background: rgba(0, 88, 239, 0.882);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.add-task button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(37, 117, 252, 0.4);
}

.columns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  min-width: 280px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(12px);
  padding: 15px;
  border-radius: 20px;
  min-height: 300px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease;
}

.column:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
}

.column h2 {
  color: #34495e;
  margin-bottom: 15px;
  font-weight: 600;
  padding-bottom: 5px;
}

.task {
  margin: 10px 0;
  padding: 12px;
  border-radius: 12px;
  cursor: grab;
  color: #fff;
  font-weight: 500;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.task:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.task:active {
  cursor: grabbing;
}

.task.todo {
  background: #66a6ff;
}

.task.inProgress {
  background: #f7971e;
}

.task.done {
  background: #56ab2f;
  text-decoration: line-through;
}

.trash {
  background: rgb(249, 90, 90);
  margin-top: 30px;
  padding: 25px;
  border-radius: 15px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
  transition: all 0.3s ease;
}

.trash:hover {
  background: rgb(255, 7, 7);
  transform: scale(1.03);
  color: #222;
}

.column.drag-over {
  background: rgba(250, 3, 3, 0.912);
}
